
ol {
    list-style-type: lower-alpha;
}

.full-screen-link {
    font-size:  12px;
    color: #959595;
    text-align: right;
    width: 87.5%;
}

a.no-tufte-underline:link {
    all:  unset;
    cursor:  pointer;
}

.chapter {
    padding: 10px;
    font-size: 18pt;
}

.chapter_link {
    padding: 5px;
    font-size: 18pt;
    vertical-align: center;
}


.chapter_number {
    font-size: 18pt;
    padding-top: 30pt;
}

.beta {
    font-size: x-small;
    color: darkorange;
    font-style: normal;
}

.number {
    padding-right: 15px;
    padding-top: 5px;
    font-size: 12pt;
    text-align: right;
    width: 20px;
    float: left;
}

.subtitle {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.draft {
    font-size: x-small;
    color: lightgrey;
    font-style: normal;
    padding-left: 10px;
}









/* Language switch (IT | EN) */
.lang-switch{
    float: none !important;
    padding-right: 0 !important;
    position: fixed;
    top: 4px;
    right: 24px;
    z-index: 9999;
    font-size: 16px; /* aumenta/diminuisci qui */
}

.lang-switch{
  position: fixed;
  top: 12px;
  right: 24px;
  z-index: 9999;

  display: inline-block;
  font-size: 16px !important;
  line-height: 1.2 !important;

  color: #555 !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: 600;

  background: rgba(255, 255, 248, 0.9);
  padding: 2px 6px;
  border-radius: 4px;
}

.lang-switch a{
  color: #555; /* oppure lascia inherit */
  text-decoration: underline;
}

















